<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>@(ViewData["Title"] != null ? $"{ViewData["Title"]} - Cornerstone Zearing" : "Cornerstone Zearing")</title>
	@if (ViewData["MetaDescription"] != null)
	{
		<meta name="description" content="@ViewData["MetaDescription"]" />
	}
	<meta name="author" content="Cornerstone Church of Christ - Zearing, Iowa" />
	<meta name="apple-mobile-web-app-title" content="Cornerstone Zearing" />
	<link rel="icon" type="image/png" href="~/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="~/favicon.svg" />
	<link rel="shortcut icon" href="~/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png" />
	<link rel="manifest" href="~/site.webmanifest" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css" integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<package name="/styles/cornerstone.css" />
</head>
<body>
	<partial name="_Header" />
	<main id="main">
		@RenderBody()
	</main>
	<partial name="_Footer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js" integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<package name="/scripts/cornerstone.js" />
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>