/* ---------- */
/* Site Theme */
/* ---------- */

:root {
    --ccc-primary: #0073aa;
    --ccc-primary-rgb: 0, 115, 170;
    --ccc-secondary: #01977a;
    --ccc-secondary-rgb: 1, 151, 122;
    --ccc-alert: #cc0000;
    --ccc-alert-rgb: 204, 0, 0;
    --ccc-white: #ffffff;
    --ccc-white-rgb: 255, 255, 255;
    --ccc-black: #000000;
    --ccc-black-rgb: 0, 0, 0;
    --ccc-footer-background: color-mix(in oklab, var(--ccc-primary) 100%, var(--ccc-black) 50%);
    --ccc-footer-logo: var(--ccc-white);
    --ccc-footer-body: color-mix(in oklab, var(--ccc-primary) 100%, var(--ccc-white) 75%);
    --ccc-footer-highlight: color-mix(in oklab, var(--ccc-white) 100%, var(--ccc-primary) 25%);
    --ccc-font-main: "Libre Franklin", sans-serif;
    --ccc-font-title: "Libre Baskerville", serif;
    --bs-primary: var(--ccc-primary);
    --bs-primary-rgb: var(--ccc-primary-rgb);
    --bs-secondary: var(--ccc-secondary);
    --bs-secondary-rgb: var(--ccc-secondary-rgb);
    --bs-success: var(--ccc-secondary);
    --bs-success-rgb: var(--ccc-secondary-rgb);
    --bs-info: #0dcaf0;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning: #ffc107;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger: var(--ccc-alert);
    --bs-danger-rgb: var(--ccc-alert-rgb);
    --bs-border-radius: 0;
    --bs-border-radius-sm: 0;
    --bs-border-radius-lg:;
    --bs-border-radius-xl: 0;
    --bs-border-radius-xxl: 0;
    --bs-font-sans-serif: var(--ccc-font-main);
}

body {
    background: var(--ccc-white);
}

footer {
    background: var(--ccc-footer-background);
    font-size: 0.875rem;
    padding-top: 2rem;
}

    footer .address,
    footer .connect {
        color: var(--ccc-footer-body);
        text-wrap: balance;
    }

        footer .address a,
        footer .address a:visited,
        footer .connect a,
        footer .connect a:visited {
            color: var(--ccc-footer-body);
            text-decoration: none;
        }

            footer .address a:hover,
            footer .address a:focus,
            footer .connect a:hover,
            footer .connect a:focus {
                text-decoration: underline;
            }

        footer .address strong,
        footer .connect strong {
            color: var(--ccc-footer-highlight);
        }

        footer .address svg {
            height: 40px;
        }

            footer .address svg path {
                fill: var(--ccc-footer-logo);
            }

        footer .connect a svg path {
            fill: var(--ccc-footer-body);
        }

        footer .connect a:hover svg path,
        footer .connect a:focus svg path {
            fill: var(--ccc-footer-highlight);
        }

        footer .connect .icons a {
            margin-right: 0.5rem;
            text-decoration: none;
        }

    footer > .container > .row {
        align-items: center;
    }

    footer .copyright {
        background: color-mix( in oklab, var(--ccc-black) 100%, var(--ccc-primary) 90% );
        color: var(--ccc-footer-body);
        font-size: 0.75rem;
        margin-top: 1rem;
        padding: 0.75rem;
        text-align: center;
    }

    footer .menu .nav-link,
    footer .menu .nav-link:visited {
        color: var(--ccc-footer-body);
        font-size: 0.875rem;
        padding: 0 0.25rem 0.25rem 0;
    }

        footer .menu .nav-link:hover,
        footer .menu .nav-link:focus {
            text-decoration: underline;
        }

header {
    background: var(--ccc-white);
}

    header .dropdown-item {
        font-size: 0.875rem;
        font-weight: 600;
        padding: 0.5rem;
    }

    header .dropdown-menu {
        background: rgba(var(--ccc-primary-rgb), 0.1);
        border: none;
        margin: 0;
    }

        header .dropdown-menu[data-bs-popper] {
            margin: 0;
        }

    header .dropdown-toggle::after,
    header .dropdown-toggle.show::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23aaaaaa' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3e%3c/svg%3e");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        display: inline-block;
        content: "";
        height: 12px;
        position: absolute;
        right: 0.5rem;
        top: 12px;
        width: 12px;
    }

    header .dropdown-toggle.show::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z'/%3e%3c/svg%3e");
    }

    header .nav-item {
        border-bottom: 1px solid var(--bs-gray-300);
    }

        header .nav-item:last-child {
            border-bottom: none;
        }

    header .nav-link {
        color: var(--ccc-black);
        font-size: 0.813rem;
        font-weight: 600;
        padding-left: 0.5rem;
        text-transform: uppercase;
    }

    header .navbar-nav .nav-link.active,
    header .navbar-nav .nav-link.show {
        background: var(--ccc-primary);
        color: var(--ccc-white);
    }

    header .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    header .navbar-nav {
        margin: 1rem 0;
    }

    header .navbar-brand svg {
        height: 40px;
    }

    header .navbar-toggler {
        font-size: 1rem;
        padding: 6px;
    }

    header .quicklinks {
        display: none;
    }

    header .skip {
        height: 1px;
        left: -10000px;
        overflow: hidden;
        position: absolute;
        top: auto;
        width: 1px;
    }

        header .skip:focus {
            background: var(--ccc-black);
            color: var(--ccc-white);
            display: block;
            height: auto;
            padding: 1em;
            position: static;
            text-decoration: none;
            text-align: center;
            width: 100%;
        }

    header .topbar {
        background: var(--ccc-primary);
        color: var(--ccc-white);
        font-size: 0.875rem;
        padding: 0.5rem;
        text-align: center;
    }

        header .topbar a {
            color: var(--ccc-white);
            text-decoration: underline;
        }

        header .topbar.topbar-alert {
            background: var(--ccc-alert);
        }

@media (min-width: 992px) {
    footer .copyright br {
        display: none;
    }

    footer .menu .nav {
        flex-direction: column;
    }

    header {
        position: relative;
        transition: box-shadow 350ms ease-in-out;
    }

        header.scrolled {
            box-shadow: 0 5px 10px rgba(var(--ccc-black-rgb), 0.15);
        }

        header .dropdown-item {
            border-bottom: 1px solid var(--ccc-primary);
            color: var(--ccc-white);
            padding: 0.75rem;
        }

        header .dropdown-menu li:last-child .dropdown-item {
            border-bottom: none;
        }

        header .dropdown-item:hover,
        header .dropdown-item:focus,
        header .dropdown-item.active,
        header .dropdown-item:active {
            background-color: rgba(var(--ccc-white-rgb), 0.1);
            color: var(--ccc-white);
        }

        header .dropdown-menu {
            background: var(--ccc-primary);
            border-radius: 5px;
            border-top-left-radius: 0;
        }

        header .dropdown-toggle::after,
        header .dropdown-toggle.show::after {
            display: none;
        }

        header .nav-item {
            border: none;
        }

            header .nav-item:last-child .nav-link {
                margin-right: 0 !important;
            }

        header .nav-link {
            border-radius: 5px;
            color: var(--ccc-black);
            font-weight: 600;
            margin-right: 5px;
            padding: 0.75rem !important;
            text-transform: uppercase;
        }

            header .nav-link.show {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            header .nav-link:hover,
            header .nav-link:focus {
                background-color: var(--ccc-primary);
                color: var(--ccc-white);
            }

        header .navbar-nav {
            justify-content: end;
            margin-bottom: 0;
            width: 100%;
        }

            header .navbar-nav .nav-link.active,
            header .navbar-nav .nav-link.show {
                background: var(--ccc-primary);
            }

        header .quicklinks {
            display: block;
            position: absolute;
            width: 100%;
            z-index: 1;
        }

            header .quicklinks ul {
                display: flex;
                list-style-type: none;
                justify-content: end;
                margin: 0;
                padding: 0;
            }

                header .quicklinks ul li a,
                header .quicklinks ul li a:visited {
                    color: rgba(var(--ccc-black-rgb), 0.5);
                    display: block;
                    font-size: 0.7rem;
                    font-weight: 600;
                    padding: 0.75rem;
                    text-decoration: none;
                    text-transform: uppercase;
                }

                    header .quicklinks ul li a:hover,
                    header .quicklinks ul li a:focus {
                        color: var(--ccc-primary);
                    }

                    header .quicklinks ul li a i {
                        color: var(--ccc-black);
                        margin-right: 2px;
                    }

                header .quicklinks ul li.live a,
                header .quicklinks ul li.live a i {
                    animation: live 3s ease-in-out infinite;
                }

    @keyframes live {
        0%, 100% {
            color: #cc0000;
        }

        50% {
            color: #cccccc;
        }
    }
}

@media (min-width: 1200px) {
    footer .address svg {
        height: 50px;
    }

    footer .container {
        max-width: 1200px;
    }

    footer .menu .nav {
        flex-direction: row;
    }

    footer .menu .nav-link {
        display: inline-block;
        width: 35%;
    }

    header .container {
        max-width: 1200px;
    }

    header .navbar-brand svg {
        height: 45px;
    }

    header .quicklinks ul li a {
        padding: 0.75rem 1rem;
    }
}
